h1 {
	font-family: 'Century Schoolbook';
}

h2 {
	text-decoration: underline;
}

h2 {
	color: green;
	margin: 1rem;
	padding: 1rem;
	margin-top: 3rem;
}

* {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	
}

p {
	border: 1px solid black;
	margin: 1rem;
	padding: 1rem;
}

p:hover {
	background-color: red;
	text-decoration: underline;
}

header > button:hover{
	background-color: red;
}

table {
	margin-left:auto; 
	margin-right:auto;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td{
	padding: 0.5rem;
}

body {
  background-color: coral;
  margin: 0;
}

img {
border: 2px solid black;
}

#main {
	color: red;
	font-size: 3rem;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: purple;
}

#main-icon-container{
	text-align: right;
}